-- CreateEnum
CREATE TYPE "CashSessionStatus" AS ENUM ('OPEN', 'CLOSED');

-- CreateEnum
CREATE TYPE "CreditApprovalStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED');

-- CreateEnum
CREATE TYPE "OrderSource" AS ENUM ('STOREFRONT', 'DNP');

-- CreateEnum
CREATE TYPE "RetailerNotificationType" AS ENUM ('ORDER_CONFIRMED', 'ORDER_SHIPPED', 'DELIVERY_UPDATE', 'PAYMENT_RECEIVED', 'PROMOTIONAL');

-- CreateEnum
CREATE TYPE "RetailerNotificationStatus" AS ENUM ('UNREAD', 'READ');

-- AlterEnum
-- This migration adds more than one value to an enum.
-- With PostgreSQL versions 11 and earlier, this is not possible
-- in a single migration. This can be worked around by creating
-- multiple migrations, each migration adding only one value to
-- the enum.


ALTER TYPE "AuditAction" ADD VALUE 'RETAILER_LOGIN';
ALTER TYPE "AuditAction" ADD VALUE 'RETAILER_PIN_SET';
ALTER TYPE "AuditAction" ADD VALUE 'RETAILER_ORDER_PLACED';
ALTER TYPE "AuditAction" ADD VALUE 'RETAILER_ORDER_CANCELLED';
ALTER TYPE "AuditAction" ADD VALUE 'RETAILER_DEVICE_REGISTERED';
ALTER TYPE "AuditAction" ADD VALUE 'RETAILER_NOTIFICATION_SENT';
ALTER TYPE "AuditAction" ADD VALUE 'CREDIT_LIMIT_REQUESTED';
ALTER TYPE "AuditAction" ADD VALUE 'CREDIT_LIMIT_APPROVED';
ALTER TYPE "AuditAction" ADD VALUE 'CREDIT_LIMIT_REJECTED';
ALTER TYPE "AuditAction" ADD VALUE 'CASH_SESSION_OPENED';
ALTER TYPE "AuditAction" ADD VALUE 'CASH_SESSION_CLOSED';
ALTER TYPE "AuditAction" ADD VALUE 'PAYMENT_ALLOCATED';
ALTER TYPE "AuditAction" ADD VALUE 'LEDGER_ENTRY_CREATED';

-- AlterEnum
-- This migration adds more than one value to an enum.
-- With PostgreSQL versions 11 and earlier, this is not possible
-- in a single migration. This can be worked around by creating
-- multiple migrations, each migration adding only one value to
-- the enum.


ALTER TYPE "FinancialLedgerEntryType" ADD VALUE 'EXPENSE_DEBIT';
ALTER TYPE "FinancialLedgerEntryType" ADD VALUE 'ADJUSTMENT';

-- AlterEnum
-- This migration adds more than one value to an enum.
-- With PostgreSQL versions 11 and earlier, this is not possible
-- in a single migration. This can be worked around by creating
-- multiple migrations, each migration adding only one value to
-- the enum.


ALTER TYPE "ReferenceType" ADD VALUE 'RETAILER_PORTAL';
ALTER TYPE "ReferenceType" ADD VALUE 'RETAILER_NOTIFICATION';
ALTER TYPE "ReferenceType" ADD VALUE 'RETAILER_LEDGER';
ALTER TYPE "ReferenceType" ADD VALUE 'FINANCIAL_LEDGER';
ALTER TYPE "ReferenceType" ADD VALUE 'CASH_SESSION';
ALTER TYPE "ReferenceType" ADD VALUE 'CREDIT_APPROVAL';

-- AlterEnum
BEGIN;
CREATE TYPE "RetailerLedgerEntryType_new" AS ENUM ('INVOICE_DEBIT', 'PAYMENT_CREDIT', 'REVERSAL', 'ADJUSTMENT_DEBIT', 'ADJUSTMENT_CREDIT', 'CREDIT_LIMIT_INCREASE', 'CREDIT_LIMIT_DECREASE');
ALTER TABLE "RetailerLedgerEntry" ALTER COLUMN "entryType" TYPE "RetailerLedgerEntryType_new" USING ("entryType"::text::"RetailerLedgerEntryType_new");
ALTER TYPE "RetailerLedgerEntryType" RENAME TO "RetailerLedgerEntryType_old";
ALTER TYPE "RetailerLedgerEntryType_new" RENAME TO "RetailerLedgerEntryType";
DROP TYPE "RetailerLedgerEntryType_old";
COMMIT;

-- AlterEnum
-- This migration adds more than one value to an enum.
-- With PostgreSQL versions 11 and earlier, this is not possible
-- in a single migration. This can be worked around by creating
-- multiple migrations, each migration adding only one value to
-- the enum.


ALTER TYPE "SalesOrderStatus" ADD VALUE 'PLACED';
ALTER TYPE "SalesOrderStatus" ADD VALUE 'PACKED';
ALTER TYPE "SalesOrderStatus" ADD VALUE 'DELIVERED';

-- DropForeignKey
ALTER TABLE "SalesOrder" DROP CONSTRAINT "SalesOrder_createdById_fkey";

-- DropForeignKey
ALTER TABLE "SalesOrder" DROP CONSTRAINT "SalesOrder_salesRepId_fkey";

-- AlterTable
ALTER TABLE "Product" ADD COLUMN     "imageUrl" TEXT,
ADD COLUMN     "sellingPrice" DECIMAL(18,4),
ADD COLUMN     "stock" INTEGER NOT NULL DEFAULT 0,
ADD COLUMN     "storefrontCategory" TEXT;

-- AlterTable
ALTER TABLE "Retailer" ADD COLUMN     "pinHash" TEXT;

-- AlterTable
ALTER TABLE "SalesOrder" ADD COLUMN     "source" "OrderSource" NOT NULL DEFAULT 'DNP',
ALTER COLUMN "branchId" DROP NOT NULL,
ALTER COLUMN "salesRepId" DROP NOT NULL,
ALTER COLUMN "retailerId" DROP NOT NULL,
ALTER COLUMN "createdById" DROP NOT NULL;

-- CreateTable
CREATE TABLE "RetailerSession" (
    "id" TEXT NOT NULL,
    "retailerId" TEXT NOT NULL,
    "tokenHash" TEXT,
    "refreshTokenHash" TEXT,
    "refreshExpiresAt" TIMESTAMP(3),
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "userAgent" TEXT,
    "ipAddress" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "revokedAt" TIMESTAMP(3),

    CONSTRAINT "RetailerSession_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RetailerDevice" (
    "id" TEXT NOT NULL,
    "retailerId" TEXT NOT NULL,
    "deviceId" TEXT NOT NULL,
    "deviceType" TEXT,
    "userAgent" TEXT,
    "ipAddress" TEXT,
    "isTrusted" BOOLEAN NOT NULL DEFAULT false,
    "lastActiveAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RetailerDevice_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RetailerNotification" (
    "id" TEXT NOT NULL,
    "retailerId" TEXT NOT NULL,
    "branchId" TEXT,
    "type" "RetailerNotificationType" NOT NULL,
    "status" "RetailerNotificationStatus" NOT NULL DEFAULT 'UNREAD',
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "entityType" "ReferenceType",
    "entityId" TEXT,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "readAt" TIMESTAMP(3),

    CONSTRAINT "RetailerNotification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RetailerOrderPreference" (
    "id" TEXT NOT NULL,
    "retailerId" TEXT NOT NULL,
    "preferredDay" TEXT,
    "notes" TEXT,
    "autoReorder" BOOLEAN NOT NULL DEFAULT false,
    "notifyBySms" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "RetailerOrderPreference_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CashSession" (
    "id" TEXT NOT NULL,
    "branchId" TEXT NOT NULL,
    "openedById" TEXT NOT NULL,
    "closedById" TEXT,
    "openedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "closedAt" TIMESTAMP(3),
    "openingBalance" DECIMAL(18,4) NOT NULL DEFAULT 0,
    "closingBalance" DECIMAL(18,4),
    "expectedCash" DECIMAL(18,4),
    "actualCash" DECIMAL(18,4),
    "variance" DECIMAL(18,4),
    "status" "CashSessionStatus" NOT NULL DEFAULT 'OPEN',
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CashSession_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CreditApproval" (
    "id" TEXT NOT NULL,
    "retailerId" TEXT NOT NULL,
    "branchId" TEXT NOT NULL,
    "requestedById" TEXT NOT NULL,
    "approvedById" TEXT,
    "oldLimit" DECIMAL(18,4) NOT NULL,
    "newLimit" DECIMAL(18,4) NOT NULL,
    "reason" TEXT NOT NULL,
    "status" "CreditApprovalStatus" NOT NULL DEFAULT 'PENDING',
    "approvedAt" TIMESTAMP(3),
    "rejectionReason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CreditApproval_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "RetailerSession_retailerId_idx" ON "RetailerSession"("retailerId");

-- CreateIndex
CREATE INDEX "RetailerSession_expiresAt_idx" ON "RetailerSession"("expiresAt");

-- CreateIndex
CREATE INDEX "RetailerSession_refreshTokenHash_idx" ON "RetailerSession"("refreshTokenHash");

-- CreateIndex
CREATE INDEX "RetailerDevice_retailerId_idx" ON "RetailerDevice"("retailerId");

-- CreateIndex
CREATE UNIQUE INDEX "RetailerDevice_retailerId_deviceId_key" ON "RetailerDevice"("retailerId", "deviceId");

-- CreateIndex
CREATE INDEX "RetailerNotification_retailerId_idx" ON "RetailerNotification"("retailerId");

-- CreateIndex
CREATE INDEX "RetailerNotification_type_idx" ON "RetailerNotification"("type");

-- CreateIndex
CREATE INDEX "RetailerNotification_status_idx" ON "RetailerNotification"("status");

-- CreateIndex
CREATE INDEX "RetailerNotification_createdAt_idx" ON "RetailerNotification"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "RetailerOrderPreference_retailerId_key" ON "RetailerOrderPreference"("retailerId");

-- CreateIndex
CREATE INDEX "RetailerOrderPreference_retailerId_idx" ON "RetailerOrderPreference"("retailerId");

-- CreateIndex
CREATE INDEX "CashSession_branchId_idx" ON "CashSession"("branchId");

-- CreateIndex
CREATE INDEX "CashSession_status_idx" ON "CashSession"("status");

-- CreateIndex
CREATE INDEX "CashSession_openedAt_idx" ON "CashSession"("openedAt");

-- CreateIndex
CREATE INDEX "CreditApproval_retailerId_idx" ON "CreditApproval"("retailerId");

-- CreateIndex
CREATE INDEX "CreditApproval_branchId_idx" ON "CreditApproval"("branchId");

-- CreateIndex
CREATE INDEX "CreditApproval_status_idx" ON "CreditApproval"("status");

-- CreateIndex
CREATE INDEX "CreditApproval_createdAt_idx" ON "CreditApproval"("createdAt");

-- AddForeignKey
ALTER TABLE "SalesOrder" ADD CONSTRAINT "SalesOrder_salesRepId_fkey" FOREIGN KEY ("salesRepId") REFERENCES "SalesRep"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SalesOrder" ADD CONSTRAINT "SalesOrder_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RetailerSession" ADD CONSTRAINT "RetailerSession_retailerId_fkey" FOREIGN KEY ("retailerId") REFERENCES "Retailer"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RetailerDevice" ADD CONSTRAINT "RetailerDevice_retailerId_fkey" FOREIGN KEY ("retailerId") REFERENCES "Retailer"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RetailerNotification" ADD CONSTRAINT "RetailerNotification_retailerId_fkey" FOREIGN KEY ("retailerId") REFERENCES "Retailer"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RetailerOrderPreference" ADD CONSTRAINT "RetailerOrderPreference_retailerId_fkey" FOREIGN KEY ("retailerId") REFERENCES "Retailer"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CashSession" ADD CONSTRAINT "CashSession_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "Branch"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CashSession" ADD CONSTRAINT "CashSession_openedById_fkey" FOREIGN KEY ("openedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CashSession" ADD CONSTRAINT "CashSession_closedById_fkey" FOREIGN KEY ("closedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CreditApproval" ADD CONSTRAINT "CreditApproval_retailerId_fkey" FOREIGN KEY ("retailerId") REFERENCES "Retailer"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CreditApproval" ADD CONSTRAINT "CreditApproval_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "Branch"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CreditApproval" ADD CONSTRAINT "CreditApproval_requestedById_fkey" FOREIGN KEY ("requestedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CreditApproval" ADD CONSTRAINT "CreditApproval_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

